body {
    text-transform: capitalize;
    overflow-x: hidden;
}

li:hover{
    color: #1A56DB !important;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #111827 !important;
}

section h1 {
    padding: 10%;
    padding-bottom: 2%;
    color: white !important;
}

section p {
    padding: 0 10%;
}