body {
    text-transform: capitalize;
    overflow-x: hidden;
}

#navigation {
    background-color: #111827;
    padding: 10px 0;
    box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}

#navigation button {
    background-color: #111827;
    border: 1px solid white !important;
    color: rgb(255, 255, 255) !important;
    font-size: 1em;
    margin-left: 2%;
    padding: 10px 16px;
    font-size: 1.5em;
}

#drawer-navigation{
    background-color: #111827;
}

#drawer-navigation span{
    color: #6B7280 !important;
}

button:hover {
    color: black !important;
}
#drawer-navigation-label{
    cursor: pointer;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #111827 !important;
}

section h1{
    padding: 10%;
    padding-bottom: 2%;
    color: white !important;
}

section p{
    padding: 0 10%;
}